.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  border: 1px solid black;
  height: 95vh;
  width: 95vw;
  margin-top: 2.5vh;
}

.hero {
  height: 25vh;
  width: 90vw;
}

.work-container {
  height: 64vh;
  width: 90vw;
  padding: 25px;
  display: flex;
  @include mobile{
    flex-direction: column;
  }
}
