.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  border: 4px solid black;
  height: 100vh;
  width: 95vw;
  margin-top: 2.5vh;
  @include mobile {
    width: 100vw;
  }
}

.hero {
  height: 25vh;
  width: 90%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &.circles{
    display: inline-block;
  }
  @include mobile {
    width: 100%;
  }
  & svg {
    margin-right: -25px;
    transform: scale(1.5);
    transition: all 300ms ease-in-out;
  }

  & svg:hover {
    transform: scale(2);
  }

  & svg:nth-child(1) circle {
    fill: $blue;
    & :hover{
      fill: red;
    }
  }

  & svg:nth-child(2){
    margin-top: -10px;
    & circle {
      fill: $yellow;
    }
  }

  & svg:nth-child(3) circle {
    fill: $red;
  }
}

.work-container {
  @include grid(3, 2%){}
  width: 90%;
  padding: 25px;
  display: flex;
  @include mobile{
    flex-direction: column;
  }
}


.about-container {
  background-color: $light-grey;
  width: 100%;
  & .about {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    & #portrait {
      width: 100px;
      height: 100px;
      background-image: url('../img/photo.jpeg');
      background-size: cover;
    }
  }
}
