.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  border: 1px solid black;
  height: 100vh;
  width: 95vw;
  margin-top: 2.5vh;
  @include mobile {
    width: 100vw;
  }
}

.hero {
  height: 25vh;
  width: 90%;
  background-color: #efefef;
  padding: 15px;
  @include mobile {
    width: 100%;
  }
  & svg {
    margin-right: -50px;

  }
  & svg:nth-child(2) circle {
    fill: $blue;
  }

  & svg:nth-child(3){
    margin-top: -10px;
    & circle {
      fill: $yellow;
    }
  }

  & svg:nth-child(4) circle {
    fill: $red;
  }
}

.work-container {
  height: 64vh;
  width: 90%;
  padding: 25px;
  display: flex;
  @include mobile{
    flex-direction: column;
  }
}
