.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  border: 1px solid black;
  height: 100vh;
  overflow: hidden;
}

.hero {
  background-color: $light-grey;
  height: 25vh;
  width: 90vw;
}

.work-container {
  border: 2px solid $light-grey;
  background-color: $light-grey;
  height: 64vh;
  width: 90vw;
  padding: 25px;
}
