// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  width: 100%;

  & ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  }

  & li {
    display: inline-block;
  }
}
