// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  width: 100%;
  @include mobile {
    display: none;
  }

  & ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  }

  & li {
    display: inline-block;
  }
  & a:hover {
    animation:rainbow 1s infinite;
  }
}


@keyframes rainbow {
  0% {color: #ff0000;}
  10% {color: #ff8000;}
  20% {color: #ffff00;}
  30% {color: #80ff00;}
  40% {color: #00ff00;}
  50% {color: #00ff80;}
  60% {color: #00ffff;}
  70% {color: #0080ff;}
  80% {color: #0000ff;}
  90% {color: #8000ff;}
  100% {color: #ff0080;}
  }
