/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, a {
  font-family: 'Roboto', sans-serif;
}

.navbar a {
  font-weight: 700;
  color: black;
}
