// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------
.large {
  transform: scale(1.25);
}

.card {
  height: 300px;
  flex-grow: 1;
  margin: 5px;
  overflow: hidden;
  transition: all 300ms ease-in-out;

    & .card-img{
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply;
      transition: all 300ms ease-in-out;
    }
    & .card-info{
      padding: 10px;
      height: 50%;
      width: 100%;
      background-color: #fff;
    }

  &.card:nth-child(2){
    border: 4px solid $solidblue;
    & .card-img {
      background-color: $solidblue;
      background-image: url('../img/project1.jpeg');
    }
    & .expand {
      border-bottom: 4px solid $solidblue;
    }
  }

  &.card:nth-child(3){
    border: 4px solid $solidyellow;
    & .card-img {
      background-color: $solidyellow;
      background-image: url('../img/project2.jpeg');
    }
    &.card:nth-child(2):hover {
      background-color: $solidyellow;
    }
    & .expand {
      border-bottom: 4px solid $solidyellow;
    }
  }
  &.card:last-child{
    border: 4px solid $solidred;
    & .card-img {
      background-color: $solidred;
      background-image: url('../img/project3.jpeg');
    }
    &.card:nth-child(3):hover {
      background-color: $solidred;
    }
    & .expand {
      border-bottom: 4px solid $solidred;
    }
  }

  @include mobile {
    width: 100%;
  }
}

/* CARD RESIZE STYLES */

.expand {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;

  & i:hover {
    transform: scale(1.25);
  }

  & .minus {
  }

  & .plus {

  }
}
