// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
  border: 1px solid #999999;
  padding: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;

  @include mobile {
    width: 100%;

  }

  & .card-img{
    height: 100px;
    width: 100%;
    background-color: $mid-grey;
  }
  & .card-info{
    & .card-desc{

    }
  }
}
