// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
  border: 1px solid #999999;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  height: 50%;
  overflow: hidden;
  transition: all .5s linear;



&.card:nth-child(1){
  border: 4px solid $solidblue;
    &.card:nth-child(1):hover {
      background-color: $solidblue;
    }
    & .expand {
      border-bottom: 4px solid $solidblue;
    }
  }

  &.card:nth-child(2){
    border: 4px solid $solidyellow;
    &.card:nth-child(2):hover {
      background-color: $solidyellow;
    }
    & .expand {
      border-bottom: 4px solid $solidyellow;
    }
  }
  &.card:nth-child(3){
    border: 4px solid $solidred;
    &.card:nth-child(3):hover {
      background-color: $solidred;
    }
    & .expand {
      border-bottom: 4px solid $solidred;
    }
  }

  @include mobile {
    width: 100%;

  }

  & .expand {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
  }

  & .card-img{
    height: 100px;
    width: 100%;
    background-color: $mid-grey;
  }
  & .card-info{
    padding: 10px;
    & .card-desc{

    }
  }
}
